* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.react-flow__node-custom-node {
	border: var(--xy-node-border, var(--xy-node-border-default));
}
.react-flow__node-custom-node .react-flow__node-default {
	background-color: inherit;
	border: none;
	width: 100%;
	height: 100%;
	padding: 0;
}

.react-flow__node-custom-content {
	height: 100%;
	display: grid;
	place-content: center;
	padding: 10px;
}
.react-flow__node-shape-trapezoid {
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.react-flow__node-shape-rhombus {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.react-flow__node-shape-penagon {
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.react-flow__node-shape-ellipse {
	clip-path: ellipse(50% 50% at 50% 50%);
}
.react-flow__node-shape-circle {
	clip-path: circle(50% at 50% 50%);
}

.button-edge__label {
	position: absolute;
	pointer-events: all;
	transform-origin: center;
	z-index: 1001;
}

.button-edge__label-custom {
	/* transform: translate(7%, -50%) translate(150px, -63.5001px) !important; */
	max-width: 146px;
	background-color: transparent;
}
.button-edge__label-custom p {
	font-style: italic;
	background-color: transparent !important;
}

.button-edge__button {
	width: 30px;
	height: 30px;
	border: 5px solid #f7f9fb;
	color: var(--xy-handle-background-color-default);
	background-color: #f3f3f4;
	cursor: pointer;
	border-radius: 50%;
	font-size: 12px;
	padding-top: 0px;
}

.button-edge__button:hover {
	background-color: var(--xy-handle-background-color-default);
	opacity: .8;
	color: #fff;
}

svg:has(.custom-edge) {
	z-index: 1001 !important;
}

.react-flow__node-labeled-group > .react-flow__node-default{
	height: 100%;
	width: 100%;
	background-color: inherit;
}



.context-menu {
  background: white;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: fixed;
  z-index: 10;
}